.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.file-upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 40px rgba(7, 7, 7, 0.08);
  height: 60vh;
  width: 60vh;
}
.file-upload-image {
  height: 200px;
  width: 200px;
}
.file-upload-button {
  background-color: #f7830f;
  color: #ffffff;
  height: 60px;
  width: 140px;
  outline: none;
  cursor: pointer;
  border: 0px;
  border-radius: 10px;
  font-size: 20px;
}

.choose-file-input {
  background-color: #f7830f;
  color: #ffffffff;
  font-size: 20px;
  text-align: center;
}
